<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sobre</ion-title>
    </ion-toolbar>
  </ion-header>

  <h2>Sobre Nós</h2>
  <p>Bem-vindo a <a href="http://localhost:8100/sobre">App Pokemon</a>.

    Somos apaixonados por Pokémon e dedicamos este espaço para trazer a você uma Pokedex completa e interativa. Nossa
    equipe dentusiastas Pokémon trabalha diligentemente para fornecer informações detalhadas e precisas sobre cada uma
    dessas incríveis criaturas.</p> Junte-se à nossa comunidade de treinadores e compartilhe suas experiências,
  estratégias de batalha, fanarts e muito mais. Conecte-se com outros fãs e troque conhecimentos sobre o vasto universo
  Pokémon.
  <p>No App pokemon, nossa paixão é trazer a magia do mundo Pokémon para você. Estamos comprometidos em fornecer um
    espaço informativo e envolvente, onde fãs de todas as idades podem mergulhar na rica história e na diversidade de
    criaturas que tornam essa franquia tão especial.

    Explore conosco e embarque em uma jornada emocionante para conhecer, capturar e entender a maravilhosa variedade de
    Pokémon que habitam nosso universo!</p>
  <p>
    Navegue por nossa extensa lista de Pokémon e descubra detalhes sobre cada espécie, desde suas características
    físicas e evoluções até suas habilidades e movimentos exclusivos.
  </p>
  <p>

  </p>

</ion-content>