<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Erro 404</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Erro 404</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <h2>Ooooops!</h2>
    <ion-img src="/assets/404.jpg"></ion-img>
    <p>O conteúdo que você está acessando não existe.</p>
    <p>Use o menu lateral para navegar entre as páginas do site.</p>
    </div>
    
</ion-content>
