<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Políticas de Privacidade</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Políticas de Privacidade</ion-title>
    </ion-toolbar>
  </ion-header>

  <h2><span style="color: rgb(68, 68, 68);">Política Privacidade</span></h2>
  <p><span style="color: rgb(68, 68, 68);">Esta Política de Privacidade descreve como coletamos, usamos, protegemos e
      compartilhamos suas informações pessoais quando você utiliza o site [Nome do Site]. Ao utilizar nosso site, você
      concorda com os termos desta política. <a href="http://localhost:8100/politicas-de-privacidade">App pokemon</a>, e
      outros sites que possuímos e
      operamos.</span></p>
  <h2><span style="color: rgb(68, 68, 68);"> Coleta de Informações</span></h2>
  <p><span style="color: rgb(68, 68, 68);"> Coletamos informações que você nos fornece voluntariamente ao preencher
      formulários de contato, assinar newsletters ou interagir com nosso site. Isso pode incluir seu nome, endereço de
      e-mail e outras informações de contato.</span></p>

  <h2><span style="color: rgb(68, 68, 68);"> Uso das Informações</span></h2>
  <p><span style="color: rgb(68, 68, 68);"> As informações pessoais coletadas são utilizadas para fornecer os serviços
      solicitados, melhorar a experiência do usuário e enviar informações relevantes. Também podemos usar essas
      informações para fins de marketing, desde que você tenha dado seu consentimento.</span></p>
  <h2><span style="color: rgb(68, 68, 68);"> Proteção de Informações</span></h2>
  <p><span style="color: rgb(68, 68, 68);"> Implementamos medidas de segurança para proteger suas informações pessoais
      contra acesso não autorizado, alteração, divulgação ou destruição. No entanto, nenhum método de transmissão pela
      internet ou armazenamento eletrônico é totalmente seguro, e não podemos garantir a segurança absoluta de suas
      informações.</span></p>



  <h2><span style="color: rgb(68, 68, 68);"> Compartilhamento de Informações</span></h2>
  <p><span style="color: rgb(68, 68, 68);"> Não vendemos, alugamos ou trocamos suas informações pessoais com terceiros
      para fins de marketing. Podemos compartilhar informações com prestadores de serviços terceirizados que nos
      auxiliam na operação do site e na prestação de serviços.&nbsp;</span><a href="https://politicaprivacidade.com/"
      rel="noopener noreferrer" target="_blank" style="background-color: transparent; color: rgb(68, 68, 68);">políticas
      de privacidade</a><span style="color: rgb(68, 68, 68);">.</span></p>
  <h2><span style="color: rgb(68, 68, 68);"> Cookies e Tecnologias Similares</span></h2>
  <p><span style="color: rgb(68, 68, 68);">Usamos cookies e tecnologias similares para melhorar sua experiência em nosso
      site, analisar tendências e administrar o site. Você pode controlar o uso de cookies nas configurações do seu
      navegador.</span></p>
      <h2><span style="color: rgb(68, 68, 68);"> Links para Sites de Terceiros </span></h2>
  <p><span style="color: rgb(68, 68, 68);">Nosso site pode conter links para sites de terceiros. Não somos responsáveis
      pelas práticas de privacidade ou pelo conteúdo desses sites. Recomendamos que você leia as políticas de
      privacidade desses sites antes de fornecer suas informações.</span></p>
  <p><span style="color: rgb(68, 68, 68);">
      <ul>
       
      </ul>
      <p><br></p>
    </span></p>
  <h3><span style="color: rgb(68, 68, 68);">Compromisso do Usuário</span></h3>
  <p><span style="color: rgb(68, 68, 68);">O usuário se compromete a fazer uso adequado dos conteúdos e da informação
      que o SitePoké oferece no site e com caráter enunciativo, mas não limitativo:</span></p>
  <ul>
    <li><span style="color: rgb(68, 68, 68);">A) Não se envolver em atividades que sejam ilegais ou contrárias à boa fé
        a à ordem pública;</span></li>
    <li><span style="color: rgb(68, 68, 68);">B) Não difundir propaganda ou conteúdo de natureza racista, xenofóbica,
        jogos de sorte ou azar, qualquer tipo de pornografia ilegal, de apologia ao terrorismo ou contra os direitos
        humanos;</span></li>
    <li><span style="color: rgb(68, 68, 68);">C) Não causar danos aos sistemas físicos (hardwares) e lógicos (softwares)
        do SitePoké, de seus fornecedores ou terceiros, para introduzir ou disseminar vírus informáticos ou quaisquer
        outros sistemas de hardware ou software que sejam capazes de causar danos anteriormente mencionados.</span></li>
  </ul>
  <h3><span style="color: rgb(68, 68, 68);">Mais informações</span></h3>
  <p><span style="color: rgb(68, 68, 68);">Esperemos que esteja esclarecido e, como mencionado anteriormente, se houver
      algo que você não tem certeza se precisa ou não, geralmente é mais seguro deixar os cookies ativados, caso
      interaja com um dos recursos que você usa em nosso site.</span></p>
  <p><span style="color: rgb(68, 68, 68);">Esta política é efetiva a partir de&nbsp;5 July 2023 18:32</span></p>
</ion-content>